
/* General for html */

html, body {
  margin: auto;
  height: 100%;
  /* overflow: auto; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
}



/* Navbar */
nav {
  height: 70px;
}

nav, #main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}

.nav-box {
  margin: auto;
  width: 33%;
  display: flex;
}

#search {
  margin-top: auto;
  margin-right: 10px;
  height: 18px;
  border-radius: 28px;
  padding: 14px;
  border: none;
  background-color: #bbb;
  font-size: 14px;
}

.center-nav-items {
  margin: auto;
}

.right-nav-items {
  /* For Circular style */
  height: 35px;
  width: 35px;
  margin-left: 10px;
  background-color: #bbb;
  border-radius: 50%;
  
}

#logo {
  margin: 0px 10px;
}

#right-nav {
  justify-content: end;
}



/* Main content */

#main {
  width: 100%;
  height: 100%;
}

.side-box {
  background-color: aquamarine;
  height: 100%;
  width: 25%;
}

.main-box {
  background-color: salmon;
  width : 50%;
  padding: 5px; 
  position: relative;
}

.scroll { 
  position: absolute;
  text-overflow:clip;
  /* white-space: nowrap; */
  border: 0px solid red; 
  padding: 5px; 
  overflow-y: scroll; 
} 
